//<FORM>
// Сніппет (HTML):
.form {
  max-width: toRem(533);
  background-color: #fff;
  border-radius: toRem(10);
  display: flex;
  padding: toRem(6);
  gap: toRem(5);
  @media (max-width: em(430)) {
    flex-direction: column;
  }
  &__row {
  }
  &__column {
  }
  &__line {
  }
  &__input {
    height: toRem(64);
    flex: 1 1 auto;
    padding: 0 toRem(25);
    font-size: toRem(18);
    font-weight: 500;
    line-height: math.div(20, 18);
    color: $backgroundColor;
    &::placeholder {
      color: $backgroundColor;
    }
  }
  &__button {
  }
  &__error {
  }
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
@import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
