//====================================================================================================
.header {
  @include adaptiveValue("padding-top", 60, 10);
  @include adaptiveValue("padding-bottom", 60, 10);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  &__container-big {
    display: grid;
    grid-template-columns: toRem(330) 1fr toRem(330);
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    @media (max-width: em(1080)) {
      grid-template-columns: auto 1fr auto;
    }
  }
  // &__container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   gap: toRem(15);
  //   min-height: toRem(123);
  //   @media (max-width: $mobile) {
  //     min-height: toRem(60);
  //   }
  // }

  &__logo {
    position: relative;
    z-index: 3;
    color: $mainColor;
    font-family: $fontSecond;
    @include adaptiveValue("font-size", 36, 32);
    font-weight: 500;
    line-height: math.div(43, 36);
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $greenColor;
      }
    }
    &::before,
    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 1px solid #fff;
      top: 0;
      left: 0;
      @include adaptiveValue("width", 585, 350);
      @include adaptiveValue("height", 585, 350);
    }
    &::before {
      top: 0;
      transform: translate(calc(-50% - toRem(28)), -50%);
    }
    &::after {
      top: 0;
      transform: translate(calc(-50% + toRem(27)), calc(-50% - toRem(55)));
    }
  }

  &__menu {
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include adaptiveValue("gap", 16, 10);
  }

  &__button {
    // margin-right: toRem(20);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border: toRem(1) solid #f1f1f1;
    &:hover {
    }
  }
}

.menu {
  padding: 0 toRem(10);
  &__icon {
  }
  // вигляд меню бургера при адаптиві
  &__body {
    @media (max-width: em(893)) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #354953;
      transition: all 0.3s;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: toRem(15);
      padding-right: toRem(20);
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        // @include adaptiveValue("height", 105, 50, 893, 320, 2);
        transition: all 0.3s;
        background-color: #354953;
        // background-color: #233036;
        z-index: 2;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: toRem(5);
    @include adaptiveValue("column-gap", 44, 15);
    @media (max-width: em(893)) {
      flex-direction: column;
      justify-content: center;
      text-align: right;
      padding-top: toRem(120);

      row-gap: toRem(15);
    }
  }

  &__item {
  }

  &__link {
    color: $mainColor;
    font-family: $fontSecond;
    font-weight: 400;
    line-height: math.div(22, 18);
    transition: all 0.3s;
    &:hover {
      color: $greenColor;
    }
    @media (max-width: em(893)) {
      color: #fff;
      font-size: toRem(32);
    }
  }
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: em(893)) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    flex: 0 0 toRem(30);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
